*{

    margin:0;

    padding:0;

    box-sizing:border-box;

    font-family:Segoe UI,sans-serif;

}

body{

    background:#F4F6FA;

}

.login{

    display:flex;

    justify-content:center;

    align-items:center;

    height:100vh;

}

.login-card{

    width:420px;

    background:white;

    padding:40px;

    border-radius:20px;

    box-shadow:0 15px 40px rgba(0,0,0,.1);

}

.logo{

    width:90px;

    display:block;

    margin:auto;

}

h1{

    text-align:center;

    color:#5B5CEB;

}

p{

    text-align:center;

    margin-bottom:30px;

}

input{

    width:100%;

    padding:15px;

    margin-bottom:15px;

    border:1px solid #DDD;

    border-radius:12px;

}

button{

    width:100%;

    padding:15px;

    border:none;

    border-radius:12px;

    background:#5B5CEB;

    color:white;

    cursor:pointer;

    font-size:16px;

}